<tr onclick="location.href='<%=event_path(event)%>';" style="cursor:pointer">
        <td>
<div id = "event_listing" >
	<div class ="span5">
		<div class="row-fluid">
			
				<% if event.works.any? or event_composers(event).any?%>	
					<div class="span7">
							<div class ="event_details_item"%>
								<% if event.works.any?%>	
								<%= render :partial => 'works/work_blank', :collection =>  event.works %>
								<% elsif event_composers(event).any?%>
								<%= render :partial => 'artists/artist_blank', :collection => event_composers(event).uniq.first(3) %>
								<%= "... " if event_composers(event).uniq.count > 3 %> <br>
								
								<% end %> 
							</div>						
					</div>
				<% end %> 
			


			<div class="span5">
				<% unless event.type.gid == 2 && event.works.any? %>
					<%= render :partial => 'artists/artist_blank', :collection => event.artists %>
				<% end %>
			</div>
		</div>
	</div>




	<% if params[:controller] == "categories" && @category.subcategories.any? %>

		<div class="span2">
			<% if event.subcategories.any? %>
				<%= event.subcategories.uniq.first.name %><%= render event.subcategories.uniq.drop(1) %>
			<% end %>
		</div>

	<%else%>
		<div class="span2">
				<% if event_categories(event) && event_categories(event).uniq.first %>
					<%= event_categories(event).uniq.first.name %><%= render event_categories(event).uniq.drop(1)%> 
				<% end %>

		</div>
	<% end %>


	
	<% unless params[:controller] == "venues"%>
		<div class="span3">
				<div class="hidden-phone">
					<%= event.venue.name unless params[:controller] == "venues"%>
				</div>
		</div>
	<%end%>

	<div class="span2">
		<% if (event.time + 1.hour).today? %>
		<b><%= "Heute" %><br>
		<% elsif (event.time + 1.hour) < Time.now + 6.days %>
		<%= german_weekday(event.time.strftime("%w")) %><br>
		<%else%>
		<%= event.time.strftime("%e. ") + german_month(event.time.strftime("%-m")) %><br>
		<%end%>
		<%= event.time.strftime("%-H:%M Uhr") %></b>
			<b>
						<%= "ausverkauft" if event.soldout? %>
						<%= "abgesagt" if event.cancelled? %> </b>

	</div>
	
</div>
</td>
</tr>


