<tr onclick="location.href='<%=event_path(event)%>';" style="cursor:pointer">
        <td>
<div id = "event_listing" >
	<div class ="span5">
		<div class="row-fluid">
			
				<% if event.works.any? or event_composers(event).any?%>	
					<div class="span7">
							<div class ="event_details_item"%>
								<% if event.type.gid == 1 && event_composers(event).any?%>
								<%= render event_composers(event).uniq.first(3) %>
								<%= "... " if event_composers(event).uniq.count > 3 %> <br>
								<% elsif event.works.any?%>	
								<%= render event.works %>
								<% end %> 
							</div>						
					</div>
				<% end %> 
			


			<div class="span5">
				<% unless event.type.gid == 2 && event.works.any? %>
					<%= render event.artists %>
				<% end %>
			</div>
		</div>
	</div>




	<% if params[:controller] == "categories" && @category.subcategories.any? %>

		<div class="span2">
			<% if event.subcategories.any? %>
				<%= event.subcategories.uniq.first.name %><%= render event.subcategories.uniq.drop(1) %>
			<% end %>
		</div>

	<%else%>
		<div class="span2">
				<% if event_categories(event) && event_categories(event).uniq.first %>
					<% if event_categories(event).uniq.first.id == params[:id].to_i && params[:controller] == "categories" %><%= event_categories(event).uniq.first.name %>
					<% else %><%=link_to event_categories(event).uniq.first.name, event_categories(event).uniq.first %><% end %><%= render event_categories(event).uniq.drop(1)%> 
				<% end %>

		</div>
	<% end %>


	
	<% unless params[:controller] == "venues"%>
		<div class="span3">
				<div class="hidden-phone">
					<%= link_to event.venue.name, event.venue unless params[:controller] == "venues"%>
				</div>
		</div>
	<%end%>

	<div class="span2">
		<%= event.time.strftime("%a, %e. %b") %><br>
		<%= event.time.strftime("%-H:%M Uhr") %>
		<b>
						<%= "Leider ausverkauft!" if event.soldout? %>
						<%= "Leider abgesagt!" if event.cancelled? %> </b>
	</div>
	
</div>
</td>
</tr>


