<tr>
        <td>
<div class = "event_listing" onclick="location.href='<%=event_path(event)%>';" style="cursor:pointer">
	
	<div class="span4">
		<%= render event.artists %>
	</div>
	<div class="span3">
		<% if event.works.first %>
			<%= render event.works %>
			<%else%>
			&nbsp;
			<%end%>

		
	</div>
	<div class="hidden-phone">
		<div class="span3">
			<%= link_to event.venue.name, event.venue unless params[:controller] == "venues"%>
		</div>
	</div>
	<div class="span2">
		<%= event.time.strftime("%a, %b %d, %H:%M Uhr") %>
	</div>
	
</div>
</td>
</tr>


