<tr onclick="location.href='<%=event_path(short_event)%>';" style="cursor:pointer">
        <td>

<div class = "short_event_listing">

	<div class="span8">
			<div class ="event_details_item"%>
				<%= short_event.venue.name %>
					<b>
						 <% if short_event.soldout? %> <br><%= "ausverkauft"%><%end%>
						<% if short_event.cancelled? %> <br><%= "abgesagt"%><%end%> </b>
			</div>
							
	</div>



	<div class="span4">
		<% if (short_event.time + 1.hour).today? %>
		<%= short_event.time.strftime("Heute, %-H:%M Uhr") %><br>
		<%else%>
		<%= short_event.time.strftime("%e. ") + german_month(short_event.time.strftime("%-m"))%>,
		<%= short_event.time.strftime("%-H:%M Uhr") %><br>
		<%end%>
		

		
	
		
	</div>

	</div>
</div>
</td>
</tr>