<tr onclick="location.href='<%=event_path(short_event)%>';" style="cursor:pointer">
        <td>

<div class = "short_event_listing">

	<div class="span8">
		<% if short_event.works.any? %>
			<%= render short_event.works %>
		<%else%>
			<%= render short_event.artists %>
		<%end%>
	</div>

	<div class="span2">
			<%= link_to short_event.type.singular, short_event.type %>
	</div>

	<div class="span2">
		<%= short_event.time.strftime("%a, %e. %b") %><br>
		<%= short_event.time.strftime("%-H:%M Uhr") %>
	</div>

	
</div>
</td>
</tr>