<tr onclick="location.href='<%=event_path(very_short_event)%>';" style="cursor:pointer">
        <td>
<div class = "very_short_event_listing" >

	<div class="span8">
			<div class ="event_details_item"%>

				<% if very_short_event.works.any?%>	
					
					<%= render :partial => 'works/work_blank', :collection => very_short_event.works %>

				<% elsif very_short_event.type.gid == 1 && event_composers(very_short_event).any?%>
					
					
					<%= render :partial => 'artists/artist_blank', :collection => event_composers(very_short_event).uniq.first(3) %>
					<%= "... " if event_composers(very_short_event).uniq.count > 3 %> <br>
							
				
				<% else %>
					<%= render :partial => 'artists/artist_blank', :collection => very_short_event.artists %>
				
				<% end %> 

		<b>
						<%= "ausverkauft" if very_short_event.soldout? %>
						<%= "abgesagt" if very_short_event.cancelled? %> </b>
			</div>
							
	</div>
			

	<div class="span4">
				<% if (very_short_event.time + 1.hour).today? %>
		<%= very_short_event.time.strftime("Heute") %><br>
		<% elsif (very_short_event.time + 1.hour) < Time.now + 6.days %>
		<%= german_weekday(very_short_event.time.strftime("%w")) %><br>
		<%else%>
		<%= very_short_event.time.strftime("%e. ") + german_month(very_short_event.time.strftime("%-m"))%><br>
		<%end%>
		<%= very_short_event.time.strftime("%-H:%M Uhr") %>
	</div>


</div>
</td>
</tr>

