<% provide :title, @category.name + " in L端beck" if @category %>
<% provide :title, params[:q].capitalize + " in L端beck" if params[:q] %>
<% provide :page_title, @category.name + " in L端beck" if @category %>
<% provide :page_title, params[:q].capitalize + " in L端beck" if params[:q] %>
<% provide :keywords, @category.name if @category %>

<div class="visible-phone">
	<div class="mobile_category_menu">
		
		
					<%# if params[:action] == "index" or params[:controller] == "categories" %>

							
							
							
						<%= render :partial => 'types/button_type', :collection => Type.all %>
					<%#end%>
		
	</div>
</div>


<div class="hidden-phone">
	<%= render :partial => 'events/label_bar'%>

		<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>

</div>

<div class="visible-phone">
		<table class="table table-striped">
	  <tbody>
		<%= render :partial => 'very_short_event', :collection => @events %>
	  </tbody>
	</table>
</div>

	
	 <br>
          <%= paginate @events %>
	


		
