<% provide :title, @event.artists.first.name + more_event_titles(@event) + " @ " + @event.venue.name %>
<% provide :page_title, @event.artists.first.name + more_event_titles(@event) + " @ " + @event.venue.name %>
<% provide :keywords, @event.artists.first.name + more_event_titles(@event) + ", " + @event.venue.name %>

<div class = "span8">
		<div class= "event_details">
			<br>
			<div class ="event_details_item"%>
				<div class="hidden-phone"><div class ="span1"><i class="icon-calendar"></i> </div></div>
				<div class ="span11">
				<%= @event.time.strftime("%a, %b %d, %H:%M Uhr") %>
				</div>
			</div>
			<br>
			
			<div class ="event_details_item"%>
				<div class="hidden-phone"><div class ="span1"><i class="icon-map-marker"></i> </div></div>
				<div class ="span11">
					<%= link_to @event.venue.name, @event.venue %>
					<br>
					<%= @event.venue.address %> <%= link_to "(Map)","http://maps.google.de/maps?q=#{@event.venue.address}+Berlin" %>
					<br>
					<%= link_to @event.venue.url, "http://#{@event.venue.url}" %>
					
				</div>
			</div>
			<div class="hidden-phone"><br><br></div><br>
			

			<%if @event.price != "" %>		
				<div class ="event_details_item"%>	
					<div class="hidden-phone"><div class ="span1"><i class="icon-shopping-cart"></i> </div></div>
					<div class ="span11">
						<%= "Preis: " + @event.price %>
					</div>
				</div>
				<br>
			<%end%>
			<div class ="event_details_item"%>
				<div class="hidden-phone"><div class ="span1"><i class="icon-user"></i> </div></div>
				<div class ="span11">
					Künstler:<br>
					<%= render @event.artists %>
				</div>
			</div>
			<div class="hidden-phone"><br><br></div><br>

			<% if @event.works.any? %>
				<div class ="event_details_item"%>
					<div class="hidden-phone"><div class ="span1"><i class="icon-book"></i> </div></div>
					<div class ="span11">
					Werke:<br>
						<%= render :partial => 'works/full_work', :collection => @event.works %>
					</div>
				</div>
				<div class="hidden-phone"><br><br></div><br>
			<% end %> 


			
			
		</div>
<% if @same_artists_events.any? %>
<div class= "same_categories_events">
		<div class = "event_bar">
			<div class="span10">
				Andere Konzerte von <%= (link_to @event.artists.first.name, @event.artists.first) + more_linked_event_titles(@event) %> in Berlin:
				
			</div>
		</div>
		<br><br><br>


	<table class="table table-striped">
	  <tbody>
		<%= render :partial => 'very_short_event', :collection => @same_artists_events %>
	</tbody>
	</table>
<%end%>		

</div>

</div>
<% if @same_categories_events.any? %>
<div class = "span4">
		Andere <%= link_to @event.categories.first.name, @event.categories.first %><%= render @event.categories.drop(1) %> Konzerte in Berlin:
		<br><br><br>
	<table class="table table-striped">
	  <tbody>
		<%= render :partial => 'very_short_event', :collection => @same_categories_events %>
	  </tbody>
	</table>
</div>
<%end%>
	



	


	
