<% provide :title, event_title(@event) + " @ " + @event.venue.name %>
<% provide :page_title, event_title(@event) + " @ " + @event.venue.name %>
<% (provide :keywords, @event.artists.first.name + more_event_titles(@event) + ", " + @event.venue.name) if @event.artists.any? %>

<div class = "span8">
	<div class="row-fluid">
		

			<br>
			<% if @event.works.any? or event_composers(@event).any? %>
				<div class ="event_details_item">
					<div class="hidden-phone"><div class ="span1"><i class="icon-book"></i> </div></div>
					<div class ="span11">
					<% if @event.works.any? %>
						<%= render :partial => 'works/full_work', :collection => @event.works %><br>
					<% end %>
					<% if @event.direct_composers.any? %>Werke von 
						<%= render @event.direct_composers if @event.direct_composers.any? %><br>
					<% end %>
					</div>
				</div>
				<div class="hidden-phone"><br><br></div>
			<% end %> 


			<% if @event.artists.any? %>
				<div class ="event_details_item">
					<div class="hidden-phone"><div class ="span1"><i class="icon-user"></i> </div></div>
					<div class ="span11">
						<%= render @event.artists %>
					</div>
				</div>
				<div class="hidden-phone"><br><br></div>
			<% end %>




			<div class ="event_details_item">
				<div class="hidden-phone"><div class ="span1"><i class="icon-tags"></i> </div></div>
				<div class ="span11">	
					<%= link_to @event.type.singular, @event.type  %>
					<% if event_categories(@event) && event_categories(@event).uniq.first %>
						| <%=link_to event_categories(@event).uniq.first.name, event_categories(@event).uniq.first %><%= render event_categories(@event).uniq.drop(1)%> 
				<% end %>
								<% if @event.subcategories.any? %>
					| <%= @event.subcategories.uniq.first.name %><%= render @event.subcategories.uniq.drop(1) %>
				<% end %>
				<br>
					
				
				

				</div>
			</div>
			<div class="hidden-phone"><br><br></div>

			<div class ="event_details_item">
				<div class="hidden-phone"><div class ="span1"><i class="icon-map-marker"></i> </div></div>
				<div class ="span11">
					<%= link_to @event.venue.name, @event.venue %>
					<br>
					<%= @event.venue.address %> <%= link_to "(Karte)","http://maps.google.de/maps?q=#{@event.venue.address}+L端beck" %>
					<br>
					<%= link_to @event.venue.url, "http://#{@event.venue.url}" %>
					
				</div>
			</div>
			<div class="hidden-phone"><br><br></div><br>

			<div class ="event_details_item">
				<div class="hidden-phone"><div class ="span1"><i class="icon-calendar"></i> </div></div>
				<div class ="span11">
				<%= @event.time.strftime("%a, %e. %b, %-H:%M Uhr") %>
				</div>
			</div>
			<br>
			

			<%if @event.price != "" %>		
				<div class ="event_details_item">	
					<div class="hidden-phone"><div class ="span1"><i class="icon-barcode"></i> </div></div>
					<div class ="span11">
						<%= "Eintritt: " + @event.price %>
					</div>
				</div>
				<div class="hidden-phone"><br><br></div><br>
			<%end%>

			<%if @event.url != "" %>		
				<div class ="event_details_item">	
					<div class="hidden-phone"><div class ="span1"><i class="icon-zoom-in"></i> </div></div>
					<div class ="span11">
						Mehr: <%= link_to truncate(@event.url, :length => 20, :omission =>"...", :separator => ' '), "http://#{@event.url}" %>
					</div>
				</div>
				<div class="hidden-phone"><br><br></div><br>
			<%end%>

			<div class = "error_message">
				<%= mail_to "stage.ly@gmail.com", "Daten korrekt?", :subject => 'Fehler bei Veranstaltung Id:' + @event.id.to_s , :class=> 'sea_green' %>
			</div>





			
		<li></li>


			
			
		
		<% if event_works_events(@event) && event_works_events(@event).any? %>
			<div class= "same_categories_events">
					<div class = "event_bar">
						<div class="span10">
							Andere Termine f端r die gleiche Veranstaltung in L端beck:
							
						</div>
					</div>
					<br><br><br>


					<table class="table table-striped">
					  <tbody>
						<%= render :partial => 'short_event', :collection => event_works_events(@event) %>
					</tbody>
					</table>
			</div>
		<%end%>	
	</div>	
</div>

		
<% if @same_categories_events.any? %>
	<div class = "span4">
			<div class="visible-phone"><li></li></div>
				<div class= "same_categories_events">
					<div class = "event_bar">
						
								Andere <%= link_to @event_categories.first.name, @event_categories.first %><%= render @event_categories.drop(1) %> Veranstaltungen in L端beck:
								<br><br><br>
							<table class="table table-striped">
							  <tbody>
								<%= render :partial => 'very_short_event', :collection => @same_categories_events %>
							  </tbody>
							</table>
					</div>
				</div>
			</div>
	</div>
<%end%>

		

	



	


	
