<% provide :page_title, @venue.name %>
<% provide :title, @venue.name%>
<% provide :keywords, @venue.name %>

	<%= @venue.address %> <%= link_to "(Karte)","http://maps.google.de/maps?q=#{@venue.address}+Lübeck" %>
	<br>
	<%= link_to @venue.url, "http://#{@venue.url}" %>
	<br><br><br>
<div class="hidden-phone">
	<%= render :partial => 'events/label_bar'%>

		<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>

</div>

<div class="visible-phone">
		<table class="table table-striped">
	  <tbody>
		<%= render :partial => 'events/very_short_event', :collection => @events %>
	  </tbody>
	</table>
</div>

	 <br>
          <%= paginate @events %>