<% provide :title, @category.name + " in Lübeck" %>
<% provide :page_title, @category.name + " in Lübeck" %>
<% provide :keywords, @category.name %>
<div class="visible-phone">
	<div class="mobile_category_menu">
		
		
					<%# if params[:action] == "index" or params[:controller] == "categories" %>
						
							<%= link_to "Alle", root_path %> | 	<%= link_to @category.type.name, @category.type %>

					<%#end%>
		
	</div>
</div>
<div class="hidden-phone">
	<%= render :partial => 'events/label_bar'%>

		<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>

</div>

<div class="visible-phone">
		<table class="table table-striped">
	  <tbody>
		<%= render :partial => 'events/very_short_event', :collection => @events %>
	  </tbody>
	</table>
</div>