<% provide :title, @category.name + " in Lübeck" %>
<% provide :page_title, @category.name + " in Lübeck" %>
<% provide :keywords, @category.name %>
<div class="visible-phone">
	<div class="mobile_category_menu">
		
		
					<%# if params[:action] == "index" or params[:controller] == "categories" %>
						<% unless params[:controller] == "events" && params[:action] == "index" %>
							<%= link_to "Alle", root_path %>
							<%else%>
							<%= "Alle" %>
							<%end%>
							
						<%= render :partial => 'categories/button_category', :collection => categories %>
					<%#end%>
		
	</div>
</div>
<div class="hidden-phone">
	<%= render :partial => 'events/label_bar'%>
</div>
</div>
	<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>