<!DOCTYPE html>
<html>
<head>
  <title><%= full_slogan(yield(:page_title)) %> - stage.ly</title>
   <meta name="description" content="<%= full_slogan(yield(:page_title)) %>"/>     
    <meta name="keywords" content="<%= yield(:keywords) + ", " + "Lübeck, Konzerte, Concerts"%>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=367315919957325";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<header>
		 <div class="container-fluid">
			<div class="row-fluid">
				<div class = "span2">
						<div class='logo'>
							<%= image_tag('/eighth-notes-logo-big.png') %>
							<%= link_to "stage.ly", root_path %>
						</div>
				</div>	
				<div class ="span8">
					<div class="row-fluid">
						
							<div class ="span8">
								<div class='slogan'>
									<%= full_slogan(yield(:title)).html_safe %>
								</div>
							</div>
							<div class ="span4">
								<div class="search_box">
				                    <%= form_tag events_path, :method => 'get' do %>
				                      <%= text_field_tag :q, nil, :placeholder => 'Suche Veranstaltungen ...'%>
			                    	<% end %>
			                  	</div>
              				</div>
              				<br>
              				<div class="row-fluid">
							<div class="fb-like span8" data-send="false" data-width="240" data-show-faces="false"></div>	
							</div>	
				
					</div>
				</div>					
			</div>
		</div>
	</header>
 <div class="container-fluid">
	<div class="row-fluid"> 
		 <div class="hidden-phone">
		 	<%= render 'layouts/menu'%>	
		</div>
		<div class="span8">
			<div class="row-fluid">
				<%= yield %>
			</div>
		</div> 
	</div>
</div>


</body>

<footer>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<%= link_to "(c) stage.ly", "http://www.youtube.com/watch?v=NisCkxU544c" %>
			</div>
		</div>
	</div>
</footer>

</html>
